@using SukkuShop.Infrastructure.Helpers
@model SukkuShop.Models.ProductsListViewModel
@{
    ViewBag.Title = "Index";
    Session["returnUrl"] = HttpContext.Current.Request.RawUrl;
}

<div class="shop-nav-container">
    @Html.Action(MVC.Nav.SortList(Model.CurrentCategory,Model.CurrentSearch,Model.CurrentSubCategory,Model.CurrentSortMethod))
    @Html.Action(MVC.Nav.SubCategory(Model.CurrentCategory,Model.CurrentSubCategory,Model.CurrentSortMethod))
</div>
<div class="product-background" >
    @Html.BackgroundImage(Model.CurrentCategory)
    <div class="product-list-container">
        @foreach (var product in Model.Products)
        {
            Html.RenderPartial(MVC.Sklep.Views.ProductItem,product);
        }
    </div>
    <div id="paginator">
        <ul class="shop-paginator">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new
            {
                page = x,
                category = Model.CurrentCategory,
                subcategory = Model.CurrentSubCategory,
                method = Model.CurrentSortMethod,
                search = Model.CurrentSearch
            }))
        </ul>
    </div>    
</div>

@Styles.Render("~/Content/css/Shop.css")
@Scripts.Render("~/Scripts/main.js")