@using SukkuShop.Infrastructure.Helpers
@using SukkuShop.Models
@model SukkuShop.Models.ProductViewModel

<div class="product-list-item">

    <div class="product-list-item-image">
        <img src="~/Content/Images/Shop/@(Model.ImageName)"/>
        <ul class="top-panel">
            @Html.TopPanelBoxes(Model.Novelty, Model.Bestseller, Model.Promotion)
        </ul>
        <div class="image-bottom-panel">
            @if (Model.QuantityInStock != 0)
            {
                using (Ajax.BeginForm("AddToCart", "Cart", null, new AjaxOptions { UpdateTargetId = "CartTotalValue", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" },new {id="CartTotalValue"}))
                {
                    @Html.HiddenFor(m=>m.Id)
                      <a href="javascript:document.getElementById('CartTotalValue').submit()">
                     <div class="add-to-cart-icon">
                         <img src="~/Content/Images/Shop/basket.png" style="width: 75%" />
                     </div>
                </a>
                 }
            }
            <a href="@Url.Action(MVC.Sklep.SzczegółyProduktu(Model.Id))"><div class="info-icon"><img src="~/Content/Images/Shop/info_icon.png" style="width: 75%" /></div></a>
        </div>
    </div>
    <div class="product-list-item-textbox">
        <div class="product-title">@Model.Name</div>
        @if (Model.Promotion == 0)
        {
            <div class="product-price">@Model.PriceAfterDiscount.ToString("c")</div>
        }
        else
        {
            <div class="product-price" style="text-decoration: line-through;">@Model.Price</div>
            <div class="product-discount">@Model.PriceAfterDiscount.ToString("c")</div>
        }
    </div>
</div>