@model SukkuShop.Models.SimilarProductModel
<div class="product-list-item-box">
    <div class="product-list-item">

        <div class="product-list-item-image">
            <img src=~/@("Content/Images/Shop/"+Model.ImageName+".png") />
            <div class="image-bottom-panel">
                @if (Model.Available)
                {
                    using (Ajax.BeginForm("AddToCart", "Koszyk", null, new AjaxOptions { UpdateTargetId = "CartTotalValue", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, new { id = "CartTotalValue" }))
                    {
                        <input type="hidden" name="id" value="@Model.Id" />
                        <div class="add-to-cart-icon">
                            <input type="image" src="~/Content/Images/Shop/basket.png" alt="Submit Form" style="width:75%" />
                        </div>
                    }
                }
                <a href="@Url.Action(MVC.Sklep.SzczegółyProduktu(Model.Id))"><div class="info-icon"><img src="~/Content/Images/Shop/info_icon.png" style="width: 75%" /></div></a>
            </div>
        </div>
        <div class="product-list-item-textbox">
            <div class="product-title">@Model.Name</div>
            @if (Model.Price == Model.PriceAfterDiscount)
            {
                <div class="product-price">@Model.PriceAfterDiscount.ToString("c")</div>
            }
            else
            {
                <div class="product-price" style="text-decoration: line-through">@Model.Price</div>
                <div class="product-discount">@Model.PriceAfterDiscount.ToString("c")</div>
            }
        </div>
    </div>
</div>
