@model SukkuShop.Models.Products
@{
    ViewBag.Title = "SzczegółyProduktu";
}

<h2>SzczegółyProduktu</h2>

@Model.Name <br/>
@Model.Price <br />
@Model.Producer <br />
@Model.Promotion <br />
@Model.Quantity <br />
@Model.DateAdded <br />

<a href="@Session["returnUrl"]">Powrót do sklepuuu</a>

