@using System.Web.Script.Serialization
@model SukkuShop.Models.ProductDetailsViewModel
@{
    ViewBag.Title = "SzczegółyProduktu";
}

<div class="product-details-main-container">
    @if (Model.Product.Promotion > 0)
    {
        <div class="product-promotion-label-img">PROMOCJA -@Model.Product.Promotion%</div>
    }
    <div class="product-details-img" style="background-color:white;">
        <img id="product-image-details" src=~/@("Content/Images/Shop/"+Model.Product.ImageName+".png") data-zoom-image="@Url.Content("~/Content/Images/Shop/" + Model.Product.ImageName+".jpg")">
        <img src="~/Content/Images/Shop/lupa.png" class="lupa"/>
        <div class="product-category-label-img">@Model.Product.Category</div>
    </div>
    
    <div class="product-details-info-container">
        <div class="title-box">@Model.Product.Name</div>
        <div class="price-box">
            @if (Model.Product.Promotion == 0)
            {
                <div class="price-text">@Model.Product.PriceAfterDiscount.ToString("c")</div>
            }
            else
            {
                <div class="product-detail-price-before-discount segoe-semibold">@Model.Product.Price.ToString("c")</div>
                <div class="price-text" style="color: green">@Model.Product.PriceAfterDiscount.ToString("c")</div>
            }
            <div class="gramature-text">(@Model.Product.Packing)</div>
        </div>
        <div class="avaibility segoe-semibold">
            @if (Model.Product.QuantityInStock > 0)
            {
                <span style="color: green">PRODUKT DOSTĘPNY (@Model.Product.QuantityInStock)</span>
            }
            else
            {
                <span style="color: red">PRODUK NIEDOSTEPNY</span>
            }
        </div>
        @if (Model.Product.QuantityInStock == 0)
        {
            <a href="#" class="ask-for-product">zapytaj o dostępność</a>
        }

        @using (Html.BeginForm(MVC.Koszyk.AddToCart(), FormMethod.Post, new {id = "addtocartform"}))
        {
            <div class="quantity-box">
                <div class="quanity-text">Ilość:</div>
                @Html.TextBox("quantity", null, new {id = "quantity_counter", placeholder = "1"})
                @Html.Hidden("id", Model.Product.Id)
                <div class="arrows-box">
                    <div id="increase_quantity" class="arrow-up-box"><div class="quantity-arrow-up"></div></div>
                    <div id="decrease_quantity" class="arrow-down-box"><div class="quantity-arrow-down"></div></div>
                </div>
                <div class="quanity-text-right">szt.</div>
            </div>
            if (Model.Product.QuantityInStock != 0)
            {
                <div class="add-to-cart-button">
                    <div class="add-to-cart-button-text">Dodaj do koszyka</div>
                    <div class="white-cart-icon"></div>
                </div>
            }
            else
            {
                <div class="add-to-cart-button-gray" >
                    <div class="add-to-cart-button-text">Dodaj do koszyka</div>
                    <div class="white-cart-icon"></div>
                </div>
            }
        }
        <div class="add-to-cart-animation-box">
            <div id="add-to-cart-animation" class="add-to-cart-animation segoe-semibold">Produkt został dodany do koszyka &#10004;</div>
        </div>
        <hr class="hr-orange"/>
        <div class="details-info-title">szczegóły produktu</div>
        <div class="details-info-text">@Model.Product.Description</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="details-info-title" style="text-align: center; margin-top: 30px;">podobne w tej kategorii</div>
<div class="product-details-list-container">

    @foreach (var product in Model.SimilarProducts)
    {
        Html.RenderPartial("similarProduct",product);
    }
</div>


<div id="product-error">@Html.ActionLink("Wróć do sklepu", "RedirectToLocal", new
                        {
                            returnUrl = Session["returnUrl"]
                        })</div>

@Styles.Render("~/Content/css/Shop.css")
@section Scripts{
    <script>
    $(document).ready(function() {

        @{
            var jsSerializer = new JavaScriptSerializer();
        }
        var maxQuantity = @jsSerializer.Serialize(Model.Product.QuantityInStock);
        $('.add-to-cart-button').click(function() {
            if (maxQuantity > 0) {
                $('#add-to-cart-animation').stop().fadeOut();
                $('#add-to-cart-animation').show("fast", function() {
                    $('#add-to-cart-animation').fadeOut(5000);
                });
            }
        });

        //Counter ++
        $('#increase_quantity').click(function() {
            var value = $('#quantity_counter').val();
            if (value < maxQuantity)
                value++;
            $('#quantity_counter').val(value);
        });

        //Counter validate
        $('#quantity_counter').on('change keyup paste', function() {
            if ($('#quantity_counter').val() > maxQuantity) {
                $(this).val(maxQuantity);
            }
        });
    });
    </script>
}
@Scripts.Render("~/Scripts/jquery.elevatezoom.js")
@Scripts.Render("~/Scripts/shopdetails.js")
@Scripts.Render("~/Scripts/main.js")