@using System.Web.Script.Serialization
@model SukkuShop.Models.ProductDetailsViewModel
@{
    ViewBag.Title = "SzczegółyProduktu";
}

<div class="product-details-main-container">
    @if (Model.Product.Promotion > 0)
    {
        <div class="product-promotion-label-img">PROMOCJA -@Model.Product.Promotion%</div>
    }
        <div class="product-details-img">
        
        <img id="product-image-details" src="~/Content/Images/Shop/img1_details.png" data-zoom-image="@Url.Content("~/Content/Images/Shop/test-largeimage1.jpg")" alt="" />
        <img src="~/Content/Images/Shop/lupa.png" class="lupa"/>
        <div class="product-category-label-img">@Model.Product.Category</div>
    </div>
    
    <div class="product-details-info-container">
        <div class="title-box">@Model.Product.Name</div>
        <div class="price-box">
            @if (Model.Product.Promotion == 0)
            {
                <div class="price-text">@Model.Product.PriceAfterDiscount.ToString("c")</div>
            }
            else
            {
                <div class="product-detail-price-before-discount segoe-semibold">@Model.Product.Price.ToString("c")</div>
                <div class="price-text" style="color:green">@Model.Product.PriceAfterDiscount.ToString("c")</div>
            }
            <div class="gramature-text">(@Model.Product.Packing)</div>
        </div>
        <div class="avaibility segoe-semibold">
            @if (Model.Product.QuantityInStock > 0)
            {
                <span style="color: green">PRODUKT DOSTĘPNY (@Model.Product.QuantityInStock)</span>
            }
            else
            {
                <span style="color: red">PRODUK NIEDOSTEPNY</span>
            }
        </div>
        @if (Model.Product.QuantityInStock == 0)
        {
            <a href="#" class="ask-for-product">zapytaj o dostępność</a>
        }
        <div class="quantity-box">
            <div class="quanity-text">Ilość:</div>
            @Html.TextBox("Quantity",null,new{id="quantity_counter",placeholder="1"})
            <div class="arrows-box">
                <div id="increase_quantity" class="arrow-up-box"><div class="quantity-arrow-up"></div></div>
                <div id="decrease_quantity" class="arrow-down-box"><div class="quantity-arrow-down"></div></div>
            </div>
            <div class="quanity-text-right">szt.</div>
        </div>
        @if (Model.Product.QuantityInStock != 0)
        {
            <a href="#">
                <div class="add-to-cart-button">
                    <div class="add-to-cart-button-text">Dodaj do koszyka</div>
                    <div class="white-cart-icon"></div>
                </div>
            </a>
        }
        else
        {
            <div class="add-to-cart-button" style="background-color: gray;cursor: default">
                <div class="add-to-cart-button-text">Dodaj do koszyka</div>
                <div class="white-cart-icon"></div>
            </div>
        }
        <hr class="hr-orange"/>
        <div class="details-info-title">szczegóły produktu</div>
        <div class="details-info-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, s
            ed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
            aliquip ex ea commodo consequat. Duis autem vel eum iriure
            dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
            et iusto odio dignissim qui blandit praesent luptatum zzril
            delenit augue duis dolore te feugait nulla facilisi. Nam liber
            tempor cum soluta nobis eleifend option congue nihil imperdiet
            doming id quod mazim placerat facer possim assum.</div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="details-info-title" style="text-align: center;margin-top: 30px;">podobne w tej kategorii</div>
<div class="product-list-container" style="padding-top: 20px;">

    @foreach (var product in Model.SimilarProducts)
    {
        <div class="product-list-item">

            <div class="product-list-item-image">
                <img src="~/Content/Images/Shop/@(product.ImageName)" alt=""/>
                <div class="image-bottom-panel">
                @if (product.Available)
                {
                    <a href="#"><div class="add-to-cart-icon"><img src="~/Content/Images/Shop/basket.png" style="width: 75%" /></div></a>
                }
                <a href="@Url.Action(MVC.Sklep.SzczegółyProduktu(product.Id))"><div class="info-icon"><img src="~/Content/Images/Shop/info_icon.png" style="width: 75%" /></div></a>
                </div>
            </div>
            <div class="product-list-item-textbox">
                <div class="product-title">@product.Name</div>
                @if (product.Price == product.PriceAfterDiscount)
                {
                    <div class="product-price">@product.PriceAfterDiscount.ToString("c")</div>
                }
                else
                {
                    <div class="product-price" style="text-decoration: line-through">@product.Price</div>
                    <div class="product-discount">@product.PriceAfterDiscount.ToString("c")</div>
                }
            </div>
        </div>
    }
</div>


<div id="product-error">@Html.ActionLink("Wróć do sklepu", "RedirectToLocal", new
                                     {
                                         returnUrl = Session["returnUrl"]
                                     })</div>

@Styles.Render("~/Content/css/Shop.css")
@section Scripts{
    <script>

        $(document).ready(function() {

            @{
                var jsSerializer = new JavaScriptSerializer();
            }
            var maxQuantity = @jsSerializer.Serialize(Model.Product.QuantityInStock);

            //Counter ++
            $('#increase_quantity').click(function () {
                var value = $('#quantity_counter').val();
                if (value < maxQuantity)
                    value++;
                $('#quantity_counter').val(value);
            });


            //Counter validate
            $('#quantity_counter').on('change keyup paste', function () {
                if ($('#quantity_counter').val() > maxQuantity) {
                    $(this).val(maxQuantity);
                }
            });
        });
    </script>
}
@Scripts.Render("~/Scripts/jquery.elevatezoom.js")
@Scripts.Render("~/Scripts/shopdetails.js")
@Scripts.Render("~/Scripts/main.js")

