@model SukkuShop.Models.CartProduct
<tr>
    <td>
        <a href="@Url.Action(MVC.Sklep.SzczegółyProduktu(Model.Id))"><img src=@("/Content/Images/Shop/" + Model.Image + ".jpg" ) /></a>
        <div class="custom-product-text-container">
            <p ><span style="font-size: 18px; line-height: 25px;">Nazwa: @Model.Name</span> 
                <br />
                Kategoria:  @Model.CategoryName
            </p>
        </div>
        @using (Html.BeginForm(MVC.Koszyk.RemoveFromCart(), FormMethod.Get, new {id = "removeform"}))
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="cart-delete-text">usuń</div>
        }
    </td>
    <td>@Model.Price zł</td>
    <td>
        <div class="quantity-box">
            <div id="quantity_counter">@Html.Label(Convert.ToString(Model.Quantity), new {id = "quantity" + Model.Id})</div>
            @Html.Hidden("id", @Model.Id)

            <div class="quanity-text-right">szt. x @Model.Packing</div>
            <div class="arrows-box">
                <div id="plzarrowsup" class="arrow-up-box increase_quantity"><div class="quantity-arrow-up"></div></div>
                <div id="plzarrowsdown" class="arrow-down-box decrease_quantity"><div class="quantity-arrow-down"></div></div>
            </div>
        </div>
    </td>
    <td id="quantity-total@(Model.Id)">@Model.TotalValue</td>
</tr>