@model SukkuShop.Models.CartViewModels

@{
    ViewBag.Title = "Twój koszyk";
}

<div class="cart-container">
    <div class="cart-title">Twój koszyk</div>
    <div id="remove">
        @if (Model.CartProductsList.Any())
        {
            Html.RenderPartial("CartTable", Model);
        }
        else
        {
            <div class="notfound-text-big">
                Uuuups!
            </div>
            <div class="notfound-text-normal">
                Twój koszyk jest pusty!
            </div>
            <div class="notfound-backlink"><a href="@Url.Action(MVC.Sklep.Produkty())">&laquo Rozpocznij zakupy! &raquo</a></div>
        }
    </div>
    <div id="cart-button-bottom">
        <a href="@Url.Action(MVC.Sklep.Produkty())">
            <div id="triangle-left-big"></div>
            <div class="cart-title" style="float: left; margin: 0">Kontynuuj zakupy</div>
        </a>
        <a href="@Url.Action(MVC.Zamowienie.Krok1())">
            <div id="triangle-right-big"></div>
            <div class="cart-title" style="float: right; margin: 0">Złóż zamówienie</div>
        </a>
        <div class="clear" style="clear: both"></div>
    </div>
</div>
@Styles.Render("~/Content/css/Koszyk/Cart.min.css")
@Scripts.Render("~/Scripts/CartSummary.min.js")