<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Sukku</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <div class="header-top-container">
                <a href="@Url.Action("Index", "Home")"><div class="header-logo"></div></a>
                <nav id="nav-top">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("wyloguj", "konto", new {area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "login-panel"}))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="login-container">
                                <li>@Html.ActionLink("Witaj " + Session["username"] + "!", "Index", "Konto", null, new {@class = "login-panel-text"})</li>
                                <li><a class="login-panel-text" href="javascript:document.getElementById('logoutForm').submit()">WYLOGUJ</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="login-container">
                            <li>@Html.ActionLink("LOGOWANIE", "Zaloguj", "Konto", null, new {@class = "login-panel-text"})</li>
                        </ul>
                    }

                    <ul>
                        <li>@Html.ActionLink("Kosmetyki", "Index", "Produkty", new {category = "kosmetyki"}, null)</li>
                        <li>@Html.ActionLink("Przyprawy", "Index", "Produkty", new {category = "przyprawy"}, null)</li>
                        <li>@Html.ActionLink("Herbaty", "Index", "Produkty", new {category = "herbaty"}, null)</li>
                        <li>@Html.ActionLink("Bakalie", "Index", "Produkty", new {category = "bakalie"}, null)</li>
                        <li>@Html.ActionLink("Inne", "Index", "Produkty", new {category = "inne"}, null)</li>
                    </ul>
                </nav>
                <a href="@Url.Action("Index", "Home")"><div class="header-logo"></div></a>
            </div>
            <nav id="nav-bottom" class="nav-low">
                @using (Html.BeginForm("Search", "Product", FormMethod.Get, new {@class = "search"}))
                {
                    @Html.TextBox("Search", null, new {placeholder = "WYSZUKAJ"})
                    <input type="submit" class="search-arrow" />
                }
                @Html.Partial("_CartInfoPartialView")
            </nav>
        </header>
        <article>
            @RenderBody()
        </article>
        <footer>
            <hr/>
            <ul>
                <li>
                    <div class="footer-text-big">zakupy</div>
                    <img src="~/Content/Images/footer-cart.png" alt=""/>
                    <div class="footer-text">@Html.ActionLink("Regulamin zakupów", "Regulamin", "Home")<br/></div>
                    <div class="footer-text">@Html.ActionLink("Koszty dostawy", "Dostawa", "Home")<br /></div>
                    <div class="footer-text"> @Html.ActionLink("Formy płatności", "Platnosci", "Home")<br /></div>
                </li>
                <li>
                    <div class="footer-text-big">użytkownik</div>
                    <img src="~/Content/Images/footer-user.png" alt=""/>
                    <div class="footer-text">@Html.ActionLink("Rejestracja", "Zarejestruj", "Konto")<br /></div>
                    <div class="footer-text">@Html.ActionLink("Zaloguj się", "Zaloguj", "Konto")<br /></div>
                    <div class="footer-text"> @Html.ActionLink("Przypomnij hasło", "ZapomnianeHaslo", "Konto")<br /></div>
                </li>
                <li>
                    <div class="footer-text-big">sukku</div>
                    <img src="~/Content/Images/footer-sukku.png" alt=""/>
                    <div class="footer-text">ul. Świętokrzyska 9A, 32-650 Kęty<br /></div>
                    <div class="footer-text">tel +48 606 307 809<br /></div>
                    <div class="footer-text">magda@sukku.pl</div>
                </li>
            </ul>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>