@model SukkuShop.Models.UserAddressModel
@{
    ViewBag.Title = "Twoje Dane";
}
<div class="cart-container">
    <div class="cart-title">Twoje zamówienie</div>
    <ul class="cart-order-steps">
        <li>1. Produkty i wysyłka</li>
        <li class="selected">2. Dane kontaktowe</li>
        <li>3. Podsumowanie zamówienia</li>
    </ul>
    <div class="client-data-container">        
        <div class="right-container">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="client-type-text">Twoje dane wysyłkowe</div>
                <div>@Model.Imie @Model.Nazwisko;</div>
                <div>ul. @Model.Ulica @Model.Numer</div>
                <div>@Model.KodPocztowy @Model.Miasto</div>
                <div>tel. @Model.Telefon</div>
            }
            else
            {
                <div class="client-type-text">Zaloguj się na istniejące konto</div>
                using (Html.BeginForm(MVC.Konto.ZalogujOrder(), FormMethod.Post, new {id = "OrderLoginForm"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="data-box">
                        <label for="email" class="text">e-mail:</label>
                        <input id="email" type="email" name="email" style="margin-right: 50px" />
                    </div>
                    <div class="data-box">
                        <label for="passwordLog"class="text">hasło:</label>
                        <input id="passwordLog" type="password" name="password" style="margin-right: 50px" />
                    </div>
                    @Html.ValidationSummary("", new {@class = "error-summary"})
                    <input type="submit" class="sukku-button-small" value="Zaloguj" />
                }
            }
        </div>
        @using (Html.BeginForm(MVC.Zamowienie.Podsumowanie(), FormMethod.Post, new {id = "NewClientForm"}))
        {
            <div class="left-container">
                <div class="client-type-text">Jestem nowym klientem</div>
            
                <div class="data-box">
                    <label for="email" class="text">e-mail*:</label>
                    <input id="email" type="email" name="email" />
                </div>
                <div class="data-box">
                    <label for="password" class="text">hasło*:</label>
                    <input id="password" name="password" type="password" />
                </div>
                <div class="data-box">
                    <label for="confirmPassword" class="text">potwierdź hasło*:</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" />
                </div>
                <div class="data-box">
                    <label for="imie" class="text">imię*:</label>
                    <input id="imie" name="imie" type="text" />
                </div>
                <div class="data-box">
                    <label for="nazwisko" class="text">nazwisko*:</label>
                    <input id="nazwisko" name="nazwisko" type="text" />
                </div>
                <div class="data-box">
                    <label class="text" for="ulica">ulica*:</label>
                    <input id="ulica" name="ulica" type="text" />
                </div>
                <div class="data-box">
                    <label for="numer" class="text">nr domu*:</label>
                    <input id="numer" name="numer" type="text" />
                </div>
                <div class="data-box">
                    <label for="numerM" class="text">nr mieszkania:</label>
                    <input id="numerM" name="numerM" type="text" />
                </div>
                <div class="data-box">
                    <label for="miasto" class="text">miasto*:</label>
                    <input id="miasto" name="miasto" type="text" />
                </div>
                <div class="data-box">
                    <label for="kodpocztowy" class="text">kod-pocztowy*:</label>
                    <input id="kodpocztowy" name="kodpocztowy" type="text" />
                </div>
                <div class="data-box" style="margin-bottom: 50px">
                    <label for="telefon" class="text">telefon*:</label>
                    <input id="telefon" name="telefon" type="text" />
                </div>
            </div>
            <div class="clear" style="clear: both"></div>
            <div id="checkboxes-container">
                <input type="checkbox" id="regulamin" class="css-checkbox" name="regulamin" required>
                <label for="regulamin" class="css-label">Zapoznałem/am się i akceptuję regulamin sklepu SUKKU.PL*</label>
                <input type="checkbox" id="daneosobowe" class="css-checkbox" name="daneosobowe" required>
                <label for="daneosobowe" class="css-label" style="font-size: 12px;">
                    Wyrażam zgodę na przetwarzanie moich danych osobowych w celu rejestracji konta
                    oraz realizacji zamówienia przez sklep internetowy SUKKU.PL prowadzony
                    przez Smaki Orientu: Magdalena Agani-Chowaniec z siedzibą w: 32-650 Kęty,
                    ul. Świętokrzyska 9A, która jest administratorem danych osobowych. Zgodnie z ustawą
                    z dnia 29.08.1997r. każdy Klient ma prawo wglądu do swoich danych, ich poprawiania, zarządzania,
                    zaprzestania przetwarzania oraza zażądania ich usunięcia. Podanie danych jest dobrowolne,
                    ale brak zgody uniemożliwia założenie konta i realizację zamówienia.*
                </label>
            </div>
        }
        <div class="data-box">
            <div class="text">(*)-POLA OBOWIĄZKOWE</div>
        </div>
        <div id="triangle-right-big"></div><div class="cart-title-ending" style="float: right;">FINALIZUJ ZAMÓWIENIE</div>
    </div>
</div>
@Styles.Render("~/Content/css/ClientData.css")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/OrderScripts.js")