@model SukkuShop.Models.OrderViewModels
@{
    ViewBag.Title = "Krok1";
}
<div class="order-container">
    <div class="order-title">Twoje zamówienie</div>
    <ul class="order-order-steps">
        <li class="selected">1. Produkty i wysyłka</li>
        <li>2. Dane kontaktowe</li>
        <li>3. Podsumowanie zamówienia</li>
    </ul>
    <table class="order-table" cellspacing="0">
        <thead>
            <tr>
                <th>Twoje produkty</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderProductList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity szt. x @item.Packing</td>
                    <td>@item.TotalValue</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="products-price-summary">@Model.TotalValue.ToString("c")</div>
    <div>
        
        <div class="bottom-box">
            <div class="order-title">Dostawa</div>
            
            <ul class="shipping" id="shipping-list">
                @foreach (var item in Model.OrderViewShippingModel.Option)
                {
                    <li>
                        @Html.RadioButtonFor(x => x.OrderViewShippingModel.SelectedOption, item.Id, new { @class = "css-checkbox", id="ship"+item.Id})
                        <label for="@("ship"+item.Id)" class="css-label">@item.Text</label>
                        <div class="shipping-price">@item.Price zł</div>
                    </li>
                }                
            </ul>
        </div>
        <div class="bottom-box">
            <div class="order-title">Płatność</div>
            <ul id="payment-list" class="shipping">
                @foreach (var item in Model.OrderViewPaymentModel.Option)
                {
                    <li>
                        @Html.RadioButtonFor(x => x.OrderViewPaymentModel.SelectedOption, item.Id, new { @class = "css-checkbox", id = "pay" + item.Id })
                        <label for="@("pay"+item.Id)" class="css-label">@item.Text</label>
                        <div class="shipping-price">@item.Price zł</div>
                    </li>
                }       
            </ul>
        </div>
        @if (Model.TotalValue > 250)
        {
            <div class="freeshipping">Zakupy powyżej 250zł oznaczają darmową wysyłkę!</div>
        }
        <div class="clear" style="clear: both"></div>
    </div>
    <div class="order-title">Podsumowanie</div>
    <ul id="products-summary">
        <li>
            <div class="price-box" id="price-box-json">@Model.TotalValue.ToString("c")</div><div id="text-box clear">Produkty</div>
        </li>
        @if (Model.Discount > 0)
        {
            <li>
                <div class="price-box" id="rabat-box">-@Model.DiscountValue (@Model.Discount%)</div><div id="text-box">Rabat</div><div class="clear" style="clear: both;"></div>
            </li>
        }
        
        <li>
            <div class="price-box" id="dostawa-box-summary">WYBIERZ</div><div id="text-box">Dostawa</div><div id="validShipment" class="invalidradio">Proszę wybrać formę dostawy!</div><div class="clear" style="clear: both;"></div>
        </li>
        <li>
            <div class="price-box" id="payment-box-summary">WYBIERZ</div><div id="text-box">Płatność</div><div id="validPayment" class="invalidradio">Proszę wybrać formę płatności!</div><div class="clear" style="clear: both"></div>
        </li>

        <li class="summary-text-bold">
            <div class="price-box" id="total-price-summary" style="color:#f89b1d">N/A</div><div id="text-box clear">Razem</div>
        </li>
    </ul>
    <div>
        <a href="@Url.Action(MVC.Koszyk.Index())">
            <div id="triangle-left-big"></div><div class="order-title-ending" style="float:left;">Powrót do koszyka</div></a>
        <a id="nextStep" href="@Url.Action(MVC.Zamowienie.Krok2())"><div id="triangle-right-big"></div><div class="order-title-ending" style="float:right;">Dalej</div></a>
            <div class="clear" style="clear: both"></div>
    </div>



</div>
@Styles.Render("~/Content/css/Zamowienie/Krok1.min.css")
@Scripts.Render("~/Scripts/OrderKrok1.js")
