@model SukkuShop.Models.OrderViewModelsSummary
@{
    ViewBag.Title = "Podsumowanie";
}

<div class="cart-container">
    <div class="cart-title">Twój koszyk</div>
    <ul class="cart-order-steps">
        <li>1. Koszyk</li>
        <li>2. Twoje dane</li>
        <li class="selected">3. Potwierdzenie zamówienia</li>
    </ul>
    <table class="cart-table" cellspacing="0">
        <thead>
            <tr>
                <th>Twoje produkty</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Suma</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderViewItemsTotal.OrderProductList)
            {
                <tr>
                    <td>
                        <img img src=@("/Content/Images/Shop/" + item.Image + ".jpg" ) />
                        <div class="custom-product-text-container">
                            <p>
                                <span style="font-size: 18px; line-height: 25px;">@item.Name</span>
                            </p>
                        </div>
                    </td>
                    <td>@item.Price</td>
                    <td>@item.Quantity szt.</td>
                    <td>@item.TotalValue</td>
                </tr>
            }                        
        </tbody>
    </table>
    <div class="products-price-summary"><span style="margin-right:15px">Razem</span> @Model.OrderViewItemsTotal.TotalValue zł</div>
    <div class="cart-title">Dostawa</div>
    <div class="order-summary-header-text">@Model.OrderShipping.Name</div>
    <div class="shipping-price">@Model.OrderShipping.Price zł</div>
    <div class="clear">&nbsp;</div>
    <div class="order-summary-description-text">@Model.OrderShipping.Description</div>

    <div class="cart-title">Adres dostawy</div>
    <div class="order-summary-header-text">@Model.UserAddressModel.Imie @Model.UserAddressModel.Nazwisko</div>
    <div class="clear">&nbsp;</div>
    <div class="order-summary-description-text">
        ul. @Model.UserAddressModel.Ulica @Model.UserAddressModel.Numer<br />
        @Model.UserAddressModel.KodPocztowy @Model.UserAddressModel.Miasto<br />
        Tel.: @Model.UserAddressModel.Telefon<br />
    </div>
    
    <div class="cart-title" style="clear:both">Płatność</div>
    <div class="order-summary-header-text">@Model.OrderPayment.Name</div>
    <div class="shipping-price">@Model.OrderPayment.Price zł</div>
    <div class="clear">&nbsp;</div>
    <div class="order-summary-description-text">@Model.OrderPayment.Description</div>
    <div class="uwagi-box">
        <div class="text">uwagi</div>
        @using (Html.BeginForm(MVC.Zamowienie.Podsumowanie(), FormMethod.Post,new{id="PodsumowanieForm"}))
        {
            @Html.TextArea("userhints")
        }
        
    </div>
    <div class="cart-title" style="border-top:#f89b1d 1px solid">Podsumowanie</div>
    <ul id="products-summary" style="padding-bottom: 20px;">
        <li class="summary-text-bold">
            <div id="price-box">Razem: <span style="color:#f89b1d">@Model.TotalTotalValue zł</span></div>
        </li>
    </ul>
    <a href="@Url.Action(MVC.Zamowienie.Krok2())">
        <div id="triangle-left-big" style="margin-top:0"></div><div class="cart-title-ending" style="float:left;">POWRÓT</div>
    </a>
    <div id="triangle-right-big" style="margin-top:0"></div><div class="cart-title-ending" style="float:right;" id="zlozzamowienie">Złóż zamówienie</div>
    </div>

@Styles.Render("~/Content/css/Zamowienie/Cart.css")
@Scripts.Render("~/Scripts/podsumowanie.js")