@model SukkuShop.Areas.Admin.Models.ProductUploadModel
@{
    ViewBag.Title = "Index";
}
<div class="main-box">
    <div class="create-prod-box">
        <div id="image-container">
            <div class="bubble"><p>Wstaw zdjęcie <br /><span style="font-size: 30px;text-transform: none;">MIN. 500x500</span></p></div>
        </div>
        @using (Html.BeginForm(MVC.Admin.AdminProduct.Create(), FormMethod.Post, new { id = "CreateProductForm" }))
        {
            @Html.ValidationSummary()
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price)
            @Html.LabelFor(m => m.Packing)
            @Html.TextBoxFor(m => m.Packing)
            @Html.LabelFor(m => m.Promotion)
            @Html.TextBoxFor(m => m.Promotion)
            @Html.LabelFor(m => m.Quantity)
            @Html.TextBoxFor(m => m.Quantity)
            @Html.LabelFor(m => m.Category)
            @Html.DropDownListFor(m => m.Category, (List<SelectListItem>)ViewBag.CategoryList, new { id = "MainCategoryList" })
            @Html.DropDownListFor(m => m.SubCategory, (List<SelectListItem>)ViewBag.SubCategoryList, new { id = "SubCategoryList" })
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description)
            @Html.TextBoxFor(m => m.ImageBig, new { type = "file", onchange = "onFileSelected(event)", style = "visibility: hidden" })
            @Html.LabelFor(m => m.PublishAfterCreate, "Publikuj po dodaniu")
            @Html.CheckBoxFor(m => m.PublishAfterCreate)
            <a href="#" id="start-upload">Start upload</a>
        }


        
    </div>
</div>
@Styles.Render("~/Areas/Admin/Content/css/CreateProduct.css")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Areas/Admin/Scripts/AdminProduct.js")
