@using SukkuShop.Areas.Admin.Models
@model List<CategoriesEditCreateProductModel>

<div class="side-nav">
    <div class="category-main">Kategorie</div>
    <div class="category-box">
        <ul class="main-list">
            <li><a href="@Url.Action(MVC.Admin.AdminProduct.Index())">Wszystko</a></li>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action(MVC.Admin.AdminProduct.Index(item.Id))">@item.Name</a>
                    <ul>
                        @foreach (var subitem in item.SubCategoryList)
                        {
                            <li><a href="@Url.Action(MVC.Admin.AdminProduct.Index(subitem.Id))">@subitem.Name</a></li>
                        }
                    </ul>
                </li>
                
            }           
        </ul>
    </div>
</div>