@model SukkuShop.Areas.Admin.Models.ProductUploadModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm(MVC.Admin.AdminProduct.UploadFile(), FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
{
    @Html.LabelFor(m=>m.Title)
    @Html.TextBoxFor(m=>m.Title)
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price)
    @Html.LabelFor(m => m.Packing)
    @Html.TextBoxFor(m => m.Packing)
    @Html.LabelFor(m => m.Promotion)
    @Html.TextBoxFor(m => m.Promotion)
    @Html.LabelFor(m => m.Quantity)
    @Html.TextBoxFor(m => m.Quantity)
    @Html.LabelFor(m => m.Category)
    @Html.TextBoxFor(m => m.Category)
    @Html.LabelFor(m=>m.Description)
    @Html.TextAreaFor(m=>m.Description)
    @Html.TextBoxFor(m => m.ImageBig, new { type = "file", onchange = "onFileSelected(event)",style="visibility: hidden" })
    <a href="#" id="start-upload">Start upload</a>
}


<div id="image-container" style="width:500px;height:500px;border:3px royalblue dotted;position:relative;margin:auto;margin-bottom:50px;">
    <div style="color:royalblue;font-weight: bold;text-align: center;line-height: 500px;font-family: Segoe UI;font-size: 25px">Załaduj obrazek</div>
</div>

@Styles.Render("~/Areas/Admin/Content/css/AdminProduct.css")
@Scripts.Render("~/Areas/Admin/Scripts/AdminProduct.js")