@model List<SelectListItem>
@if (ViewBag.AjaxOrderState == "Anulowane")
{@:Stan zamówienia:
    <p style="color: red">@ViewBag.AjaxOrderState</p>
}
else if (ViewBag.AjaxOrderState == "Wysłane")
{@:Stan zamówienia:
    <p id="order-info" style="color: green">@ViewBag.AjaxOrderState</p>
}
else
{
    using (Ajax.BeginForm(MVC.Admin.Zamowienia.ChangeOrderStateFromDetails(), new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "replace", HttpMethod = "POST", OnSuccess = "endAjaxLoader()" }, new { id = "changeStateForm" }))
    {
        <span style="float:left;margin:0 10px 0 80px">Stan zamówienia:</span>
        <div class="styled-select">
            @Html.DropDownList("value", Model, new { id = "stateDropdown" })
        </div>
        @Html.Hidden("Id", (int)ViewBag.OrderId)
        <a href="" id="submitOrderState" style="float:left;margin-left: 10px">ZAPISZ</a>
        <div id="number-box" style="visibility: hidden;clear:both;padding-top:10px;">
            <span style="float:left;margin:0 10px 0 80px">Numer listu:</span>
            @Html.TextBox("packageNumber", null, new { style = "float: left;height: 20px;font-family: Segoe UI;font-size: 14px;line-height: 20px;width: 200px;border: 1px solid #f89b1d;" })
        </div>
    }

}