@*@using SukkuShop.Infrastructure.Helpers
@using SukkuShop.Models

<ul class="sort-menu">
    <li class="sort-box">
        <div id="sort-text" style="@(ViewBag.CurrentSortMethod==SortMethod.Promocja ? "font-weight:bold;":"")">PROMOCJA</div>
        @Html.SortList(Url.Action(MVC.Sklep.Wyszukaj((string)ViewBag.SearchString, SortMethod.Promocja)), (SortMethod)ViewBag.CurrentSortMethod, SortMethod.Promocja)
    </li>
    <li class="sort-box">
        <div id="sort-text" style="@(ViewBag.CurrentSortMethod == SortMethod.CenaMalejaco || ViewBag.CurrentSortMethod == SortMethod.CenaRosnaco ? "font-weight:bold;" : "")">CENA</div>
        <div class="price-arrow-box">
            @Html.SortList(Url.Action(MVC.Sklep.Wyszukaj((string)ViewBag.SearchString,SortMethod.CenaRosnaco)),(SortMethod)ViewBag.CurrentSortMethod, SortMethod.CenaRosnaco)
            @Html.SortList(Url.Action(MVC.Sklep.Wyszukaj((string)ViewBag.SearchString, SortMethod.CenaMalejaco)), (SortMethod)ViewBag.CurrentSortMethod, SortMethod.CenaMalejaco)
        </div>
    </li>
    <li class="sort-box">
        <div id="sort-text" style="@(ViewBag.CurrentSortMethod==SortMethod.Popularność ? "font-weight:bold;":"")">POPULARNOŚć</div>
        @Html.SortList(Url.Action(MVC.Sklep.Wyszukaj((string)ViewBag.SearchString, SortMethod.Popularność)), (SortMethod)ViewBag.CurrentSortMethod, SortMethod.Popularność)
    </li>
    <li class="sort-box">
        <div id="sort-text" style="@(ViewBag.CurrentSortMethod==SortMethod.Nowość ? "font-weight:bold;":"")">NOWOŚć</div>
        @Html.SortList(Url.Action(MVC.Sklep.Wyszukaj((string)ViewBag.SearchString)), (SortMethod)ViewBag.CurrentSortMethod)
    </li>
    <li class="sort-box">SORTUJ:</li>
    <li><div class="clear">&nbsp;</div></li>
</ul>*@
