@using SukkuShop.Models
@model IEnumerable<string>
           
<ul class="sort-menu">
    <li>
        <div class="sort-box">PROMOCJA
            <a href="@Url.RouteUrl(new
                     {
                         controller = "Sklep",
                         action = "Produkty",
                         category = ViewBag.SelectedCategory,
                         method = SortMethod.Promocja,
                         page = 1,
                         subcategory = ViewBag.SelectedSubCategory
                     })">
                <div class="sort-arrow"></div>
            </a>
        </div>
    </li>
    <li>
        <div class="sort-box">CENA
            <a href="@Url.RouteUrl(new
                     {
                         controller = "Sklep",
                         action = "Produkty",
                         category = ViewBag.SelectedCategory,
                         method = SortMethod.CenaMalejaco,
                         page = 1,
                         subcategory = ViewBag.SelectedSubCategory})">
                <div class="sort-arrow"></div>
            </a>
            <a href="@Url.RouteUrl(new
                     {
                         controller = "Sklep",
                         action = "Produkty",
                         category = ViewBag.SelectedCategory,
                         method = SortMethod.CenaRosnaco,
                         page = 1,
                         subcategory = ViewBag.SelectedSubCategory})">
                <div class="sort-arrow"></div>
            </a>
        </div>
    </li>
    <li>
        <div class="sort-box">POPULARNOŚć
            <a href="@Url.RouteUrl(new
            {
                controller = "Sklep",
                action = "Produkty",
                category = ViewBag.SelectedCategory,
                method = SortMethod.Popularność,
                page = 1,
                subcategory = ViewBag.SelectedSubCategory})">
                <div class="sort-arrow"></div>
            </a>
        </div>
    </li>
    <li>

        <div class="sort-box">        NOWOŚć
            <a href="@Url.RouteUrl(new
            {
                controller = "Sklep",
                action = "Produkty",
                category = ViewBag.SelectedCategory,
                method = SortMethod.Nowość,
                page = 1,
                subcategory = ViewBag.SelectedSubCategory})">
                <div class="sort-arrow"></div>
            </a>
        </div>
    </li>
    <li><div class="sort-box">SORTUJ:</div></li>
</ul>