@using SukkuShop.Models
@{
    ViewBag.Title = "Home";
}

<div class="main-container">

    <div class="container"><img src="@Url.Content("~/Content/Images/content-pic1.png")" alt="" /></div>
    <div class="container">
        <div class=" segoe-semibold text-big">bestseller</div>
        <div class="container-check">
            <a href="@Url.RouteUrl(new{controller="Sklep",action="Produkty",method=SortMethod.Popularność})"><div class="check segoe-semibold">sprawdź</div></a>
        </div>
    </div>
    <div class="container"><img src="@Url.Content("~/Content/Images/content-pic2.png")" alt="" /></div>
    <div class="container">
        <div class=" segoe-semibold text-big">promocje</div>
        <div class="container-check">
            <a href="@Url.RouteUrl(new{controller="Sklep",action="Produkty",method=SortMethod.Promocja})"><div class="check segoe-semibold">sprawdź</div></a>
        </div>
    </div>
    <div class="container"><img src="@Url.Content("~/Content/Images/content-pic3.png")" alt="" /></div>
    <div class="container">
        <div class="segoe-semibold text-big">nowości</div>
        <div class="container-check">
            <a href="@Url.RouteUrl(new{controller="Sklep",action="Produkty",method=SortMethod.Nowość})"><div class="check segoe-semibold">sprawdź</div></a>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

@Styles.Render("~/Content/css/Home/home.css")
