@{
    ViewBag.Title = "Home";
}

<div class="main-container">
    <div class="container"><img src="@Url.Content("~/Content/Images/content-pic1.png")" alt="" /></div>
    <div class="container">
        <div class=" segoe-semibold text-big">bestseller</div>
        <div class="container-check">
            <a href="@Url.Action(MVC.Sklep.Produkty("bestseller"))"><div class="check segoe-semibold">sprawdź</div></a>
        </div>
    </div>
    <div class="container"><img src="@Url.Content("~/Content/Images/content-pic2.png")" alt="" /></div>
    <div class="container">
        <div class=" segoe-semibold text-big">promocje</div>
        <div class="container-check">
            <a href="@Url.Action(MVC.Sklep.Produkty("promocje"))"><div class="check segoe-semibold">sprawdź</div></a>
        </div>
    </div>
    <div class="container"><img src="@Url.Content("~/Content/Images/content-pic3.png")" alt="" /></div>
    <div class="container">
        <div class="segoe-semibold text-big">nowości</div>
        <div class="container-check">
            <a href="@Url.Action(MVC.Sklep.Produkty("nowość"))"><div class="check segoe-semibold">sprawdź</div></a>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>

@Styles.Render("~/Content/css/Home/home.css")