@model SukkuShop.Models.ChangePasswordViewModel

@using (Ajax.BeginForm(MVC.Konto.ZmienHaslo(), new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "pass-replace", OnBegin = "showAjaxLoader()", OnComplete = "hideAjaxLoader()", OnFailure = "onError(xhr, status, error)" }, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()
    <div class="data-container">
        <div class="main-text">Zmień swoje haslo</div>

        <div class="clear">&nbsp;</div>
        <div class="data-box">
            @Html.LabelFor(m => m.OldPassword, "stare hasło", new { @class = "text" })
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="data-box">
            @Html.LabelFor(m => m.NewPassword, "nowe hasło", new { @class = "text" })
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="data-box">
            @Html.LabelFor(m => m.ConfirmPassword, "powtórz hasło", new { @class = "text" })
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div>
            <div class="validation-box" style="float:left">
                @if (Model.Success == null)
                {
                    @Html.ValidationSummary(true)
                }
                else if (Model.Success == false)
                {
                    <div>Zmiana hasła zakończyła się niepowodzeniem &#10007;</div>
                }
                else
                {
                    <div style="color:green">Hasło zostało zmienione &#10003;</div>
                }
            </div>
            <div class="save" style="margin-bottom: 35px;margin-left:0" id="save-pass">
                <div class="text">zmień hasło</div><div id="triangle-right-big"></div>
            </div>
        </div>
    </div>

    <div class="clear">&nbsp;</div>
}

