@model bool
@{
    ViewBag.Title = "Dane osobowe";
}
<div class="details-container">
    <ul class="choice">
        <li class="selected"><a href="@Url.Action(MVC.Konto.DaneOsobowe())">dane osobowe</a></li>
        <li><a href="@Url.Action(MVC.Konto.HistoriaZamowien())">historia zamowień</a></li>
    </ul>
    <div class="change-container">
        <div id="replace">
            @{Html.RenderAction(Model ? MVC.Konto.ChangeUserFirmaInfoViewModel() : MVC.Konto.ChangeUserInfoViewModel());}
        </div>
        <div id="pass-replace">
            @{ Html.RenderAction(MVC.Konto.ZmienHaslo()); }
        </div>
    </div>
</div>
@Styles.Render("~/Content/css/Konto/Details.css")
@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/Konto.js")
