@model SukkuShop.Models.LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}
<h2 style="font-weight: bold; margin:20px 0; text-align: center">Zaloguj się</h2>
@using (Html.BeginForm(MVC.Konto.Zaloguj(), FormMethod.Post))
{
    <div style="text-align: center">
        @Html.ValidationSummary("")
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        <br/>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        <br />
        @Html.LabelFor(m => m.RememberMe)
        @Html.CheckBoxFor(m => m.RememberMe)
        <input type="submit" value="Zaloguj" />
    </div>
}


