@model SukkuShop.Models.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj";
}
<h2>Rejestracja</h2>

<div class="register-background">
    <img src="~/Content/Images/Panels/left.jpg" />
    <div class="register-cont">
        @using (Html.BeginForm(MVC.Konto.Zarejestruj(), FormMethod.Post))
        {
            @Html.ValidationSummary("")
            @Html.AntiForgeryToken()
            <div class="register-box">
                <div class="data-box">
                    @Html.LabelFor(m => m.Email, "e-mail", new {@class = "text"})
                    @Html.TextBoxFor(m => m.Email, new {@type = "email"})
                </div>
                <div class="data-box">
                    @Html.LabelFor(m => m.Password, "haslo", new {@class = "text"})
                    @Html.TextBoxFor(m => m.Password, new {@type = "password"})
                </div>
                <div class="data-box">
                    @Html.LabelFor(m => m.ConfirmPassword, "powtórz hasło", new {@class = "text"})
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@type = "password"})
                </div>
            </div>
    <div class="zarejestruj">
        <div class="text">ZAREJESTRUJ</div><div id="triangle-right-big"></div>
    </div>
        }
    </div>
</div>

@Styles.Render("~/Content/css/Konto/Register.css")