@model SukkuShop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>
        
        
    </dl>
    <h2>Twoje dane wysyłki</h2>
    Imie: @Model.ChangeUserInfoViewModel.Name <br/>
    Nazwisko: @Model.ChangeUserInfoViewModel.LastName <br />
    Telefon: @Model.ChangeUserInfoViewModel.Phone <br />
    City: @Model.ChangeUserInfoViewModel.City<br />
    Ulica: @Model.ChangeUserInfoViewModel.Street <br />
    Numer domu: @Model.ChangeUserInfoViewModel.Number <br />
    Kod pocztowy: @Model.ChangeUserInfoViewModel.PostalCode <br />
    

    @Html.ActionLink("Edit your order info","EditUserInfo")
</div>
