@model int?

@{
    ViewBag.Title = "Lista produktów";
}
@Styles.Render("~/Areas/Admin/Content/css/AdminProductsList.css")
@Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Areas/Admin/Scripts/productListAngular.js")


<div ng-app="adminApp">
    <div ng-controller="AdminProdCtrl" ng-init="init('@ViewBag.Name','@Model')">
        <div class="panel-cont">
            <div class="side-nav">
                <div class="search-box">
                    <input type="text" ng-model="textFilter" ng-change="filterByName()" placeholder="WYSZUKAJ" />
                </div>
                <div class="category-main">Kategorie</div>
                <div class="category-box">
                    <ul class="main-list">
                        <li ng-class="{ 'bolded': 0 == selectedCategory }" ng-click="itemClicked(0)">Wszystko</li>
                        <li ng-repeat="category in categories">
                            <a ng-class="{ 'bolded': category.CategoryId == selectedCategory }"
                               ng-click="itemClicked(category.CategoryId,$event)">{{category.Name}}</a>
                            <ul>
                                <li ng-repeat="subcategory in category.subcategories" >
                                    <a ng-class="{ 'bolded': subcategory.CategoryId == selectedCategory, 'unbold': subcategory.CategoryId != selectedCategory}"
                                       ng-click="itemClicked(subcategory.CategoryId,$event)">{{subcategory.Name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-cont">
                <div class="top-cont">
                    <input type="checkbox" class="css-checkbox" ng-model="published" id="published" ng-change="filterByCheckboxes()" />
                    <label for="published" class="css-label">Na sklepie</label>
                    <input type="checkbox" class="css-checkbox" ng-model="wrongmodel" id="wrongmodel" ng-change="filterByCheckboxes()" />
                    <label for="wrongmodel" class="css-label">Błędne</label>
                    <input type="checkbox" class="css-checkbox" ng-model="isready" id="isready" ng-change="filterByCheckboxes()" />
                    <label for="isready" class="css-label">Gotowe do wystawienia</label>
                </div>
                <div class="add-product">
                    @Html.ActionLink("Dodaj produkt", MVC.Admin.Produkty.Dodaj(), new { @class = "add-product" }) <div class="icon-plus-sign" style="font-size: 25px"></div>
                </div>
                <table class="main-table">
                    <thead id="plz">
                        <th>ID <a href="" ng-class="{'selected': selectedIndex==1}" ng-click="orderByMhm('ProductId',false,1)"><div class="icon-arrow-up up"></div></a><a ng-class="{'selected': selectedIndex==2}" href="" ng-click="orderByMhm('ProductId',true,2)"><div class="icon-arrow-down down"></div></a></th>
                        <th>Nazwa <a href="" ng-class="{'selected': selectedIndex==3}" ng-click="orderByMhm('Name',false,3)"><div class="icon-arrow-up up"></div></a><a href="" ng-class="{'selected': selectedIndex==4}" ng-click="orderByMhm('Name',true,4)"><div class="icon-arrow-down down"></div></a></th>
                        <th>Ilość zam. <a href="" ng-class="{'selected': selectedIndex==5}" ng-click="orderByMhm('orders',false,5)"><div class="icon-arrow-up up"></div></a><a href="" ng-class="{'selected': selectedIndex==6}" ng-click="orderByMhm('orders',true,6)"><div class="icon-arrow-down down"></div></a></th>
                        <th class="blank">Status</th>
                        <th class="blank"></th>
                        <th class="blank"></th>
                        <th class="blank"></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in productsList">
                            <td>{{item.ProductId}}.</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.orders}}</td>
                            <td class="state">
                                <div ng-if="item.Published && !item.WrongModel">Na sklepie</div>
                                <div ng-if="item.WrongModel">Wymaga edycji</div>
                                <div ng-if="!item.WrongModel && !item.Published">Gotowy do publikacji</div>
                            </td>
                            <td ng-click="publish(item.ProductId)" ng-if="!item.WrongModel && !item.Published" class="share">
                                publikuj
                                <div class="icon-mail-forward" style="margin-left: 5px; font-size: 17px"></div>
                            </td>
                            <td ng-click="getinfo(item.ProductId)" ng-if="item.WrongModel" class="deta">
                                szczegóły
                                <div class="icon-info" style="margin-left: 5px; font-size: 17px"></div>
                                <div ng-if="item.showinfo==true" class="info-box-plz">
                                    <div ng-click="closeinfobox(item.ProductId,$event)" class="close-info-box icon-remove"></div>
                                    <ul>
                                        <li ng-repeat="row in item.data" ng-if="row!=''">
                                            {{row}}
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td ng-click="unpublish(item.ProductId)" ng-if="item.Published && !item.WrongModel" class="take-out">ściągnij ze sklepu<div class="icon-remove-sign" style="margin-left: 5px; font-size: 17px"></div></td>                           
                            <td><a ng-href="@Url.Action("Edytuj")/{{item.ProductId}}" class="icon-pencil pencil"></a></td>
                            <td ng-if="item.orders==0 && item.canDelete==false"><a ng-click="deleteitemask(item.ProductId)" class="icon-trash trash"></a></td>
                            <td ng-if="item.orders==0 && item.canDelete==true"><a ng-click="deleteitem(item.ProductId)" class="icon-check-sign trash-yes"></a><a ng-click="nodeleteitem(item.ProductId)" class="icon-remove-sign trash-no"></a></td>

                        </tr>
                    </tbody>
                </table>
                <div id="paginator" ng-if="pages>1">
                    <ul class="shop-paginator">
                        <li>
                            <div class="paging-arrow-left" ng-click="setPage(currentPage-1)"></div>
                        </li>
                        <li class="inner-paginator" ng-repeat="page in tableOfPages" style="display: inline-block">
                            <div ng-if="page==currentPage">
                                <div class="paginator-box" style="font-weight: bold" ng-click="setPage($index+1)">{{page}}</div>
                            </div>
                            <div ng-if="page!=currentPage">
                                <div class="paginator-box" ng-click="setPage($index+1)">{{page}}</div>
                            </div>
                        </li>
                        <li>
                            <div class="paging-arrow-right" ng-click="setPage(currentPage+1)"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear" style="clear:both;float:none;height:0"></div>
            </div>
            <div class="clear" style="clear:both;float:none;height:0"></div>
        </div>
    </div>
</div>
<div class="clear" style="clear:both;float:none;height:0"></div>
    

