<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Sukku</title>
        @Styles.Render("~/Areas/Admin/Content/css/main.css")
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        @Scripts.Render("~/bundles/jquery")
       
    </head>
<body>
    <header>
        <a href="@Url.Action(MVC.Home.Index())"><div class="header-logo"></div></a>
        <nav id="nav-top" class="nav-top">
            Panel Administratora           
        </nav>
        <a href="@Url.Action(MVC.Home.Index())"><div class="header-logo"></div></a>
        <nav id="nav-bottom" class="nav-low">
            <ul class="nav-list">
                <li id="1"> <a class="@(ViewBag.SelectedOpt==1?"selected":"")" href="@Url.Action(MVC.Admin.Produkty.Lista())">Produkty</a> </li>
                <li id="2"> <a href="">Zamówienia</a> </li>
                <li id="3"> <a class="@(ViewBag.SelectedOpt==3?"selected":"")" href="@Url.Action(MVC.Admin.Klienci.Lista())">Użytkownicy</a></li>
                <li id="4"> <a href="">Strona główna</a></li>
                <li id="5"> <a href="">Sekcja informacyjna</a></li>
            </ul>           
               
        </nav>
        <div class="clear">&nbsp;</div>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
 </body>

</html>


