<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Sukku</title>
        <link rel="stylesheet" type="text/css" href="../../Content/css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        @Scripts.Render("~/bundles/jquery")
       
    </head>
<body>
    <header>
        <a href="@Url.Action(MVC.Home.Index())"><div class="header-logo"></div></a>
        <nav id="nav-top" class="nav-top">
            Panel Adminal
            
        </nav>
        <a href="@Url.Action(MVC.Home.Index())"><div class="header-logo"></div></a>
        <nav id="nav-bottom" class="nav-low">
            
            Aasdsadsadas
        </nav>
        <div class="clear">&nbsp;</div>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
 </body>

</html>


