@model SukkuShop.Areas.Admin.Models.RegulaminModel
@{
    ViewBag.Title = "Regulamin";
}

@Scripts.Render("~/ckeditor/ckeditor.js")
@Scripts.Render("~/ckeditor/adapters/jquery.js")
@Scripts.Render("~/Areas/Admin/Scripts/RegulaminEditor.js")

<div style="width:1066px;margin:auto" id="regulamin-replace">
    @Ajax.ActionLink("Edytuj tekst", MVC.Admin.Content.GwarancjaAjaxGet(), new AjaxOptions { UpdateTargetId = "regulamin-replace", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnComplete = "SetEditor()" })
    @Model.Text
</div>




