@model SukkuShop.Areas.Admin.Models.RegulaminModel
@{
    ViewBag.Title = "Regulamin";
}
@Styles.Render("~/Areas/Admin/Content/css/EditorView.min.css")
@Scripts.Render("~/ckeditor/ckeditor.js")
@Scripts.Render("~/ckeditor/adapters/jquery.js")
@Scripts.Render("~/Areas/Admin/Scripts/RegulaminEditor.min.js")

<div style="width:1066px;margin:auto" id="regulamin-replace">
    <div>
        <div id="triangle-right"></div>
        @Ajax.ActionLink("Edytuj tekst", MVC.Admin.Content.ReklamacjeAjaxGet(), new AjaxOptions { UpdateTargetId = "regulamin-replace", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnComplete = "SetEditor()" }, new { @class = "sukku-link", style = "float:right" })
        <div style="clear: both;float:none;height:0"></div>
    </div>    @Model.Text
</div>



